ion-toolbar{
    --background: var(--ion-color-padraoApp);
    color: white;
}


ion-icon{
    width: 25px;
    height: 25px;
    color: white;
    margin-left: 5px;
}

.header{
    display: flex;
    align-items: center;
    
    p{
        margin-left: 25px;
    }
}


.map{
    width: 50%;
    height: 50%;
}

ion-textarea{
    border: 2px solid #4F9AF5;
    padding: 5px;
    border-radius: 15px;
    width: 80%;
    margin: 25px auto;
    text-align: left;
}

ion-button{
    --border-radius: 20px;
    width: 80%;
    --background: #4F9AF5;
}