ion-toolbar{
    --background: var(--ion-color-padraoApp);
    color: white;
}

.header-top{
    display: flex;
    align-items: center;
    p{
        margin-left: 15%;
    }
}

ion-icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

ion-input{
    --padding-start: 10px;
    border: 2px solid var(--ion-color-padraoApp);
    border-radius: 20px;
}




label{
    padding-right: 5px;
    color: gray;
}

#salario{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

ion-button{
    margin-left: 5px;
    border-radius: 20px;
}

#botaoSalario{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid var(--ion-color-padraoApp);
    background: var(--ion-color-padraoApp);
    color: white;
}