ion-toolbar{
    --background: var(--ion-color-padraoApp);
    color: white;
}

ion-row{
    border-bottom: 1px solid rgb(206, 206, 206);
    color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: gray;
    font-size: 10pt;
}

.total{
    color: rgb(1, 116, 1);
}

.horaPendente{
    color: rgb(175, 13, 13);
}

.header-top{
    display: flex;
    align-items: center;
    p{
        margin-left: 10%;
    }
}

ion-icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.delete{
    width: 25px;
    height: 25px;
    color: rgb(175, 13, 13);
}

ion-col{
    color: gray;
}