<ion-header>
  <ion-toolbar>
    <div class="header-top">
      <ion-icon name="arrow-round-back" button [routerLink]="['/registro-hora-extra']"></ion-icon>
      <p text-center>RELATÓRIO DE HORAS EXTRAS</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="filtroData">
    <ion-datetime class='data' done-text='OK' cancelText='Cancelar' displayFormat="DD/MM/YY" placeholder='dd/mm/aaaa'
      [(ngModel)]="data.dataInicial"></ion-datetime>
    <ion-datetime class='data' done-text='OK' cancelText='Cancelar' displayFormat="DD/MM/YY" placeholder='dd/mm/aaaa'
      [(ngModel)]="data.dataFinal" (ionBlur)='getHoras(data.dataInicial,data.dataFinal)'></ion-datetime>
  </div>
  <div id="filtroDataDescricao">
    <label for="">Data Início</label>
    <label for="">Data Fim</label>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size='6'>
        <strong>Período/Data</strong>
      </ion-col>
      <ion-col size='4' class="ion-text-center">
        <strong>Total</strong>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
    <ion-row *ngFor='let h of horasExtras'>
      <ion-col size="6" *ngIf='h.horaFinal == null'>
        {{h.horaInicial}} - <span class="horaPendente">Hora Pendente</span>
      </ion-col>
      <ion-col size="6" *ngIf='h.horaFinal != ""' (click)='mostrarDescricaoCidade(h.descricao,h.localizacao)'>
        {{h.horaInicial}} - {{h.horaFinal}} <br>
        <span>{{h.dataInicial | date: 'dd/MM/y'}}</span>
      </ion-col>
      <ion-col size="6" *ngIf='h.horaFinal == ""'>
        {{h.horaInicial}} - <span class="horaPendente">PENDENTE</span> <br>
        <span>{{h.dataInicial | date: 'dd/MM/y'}}</span>
      </ion-col>

      <ion-col size="4" class="ion-text-center total" *ngIf='h.horaFinal != ""'>
        {{h.total}}
      </ion-col>
      <ion-col size="2" *ngIf='h.horaFinal != ""'>
        <ion-icon class="delete" name='trash' (click)="deleteConfirm(h.id)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>