<ion-header>
  <ion-toolbar>
      <div class="header-top">
          <ion-icon name="arrow-round-back" button [routerLink]="['/registro-hora-extra']"></ion-icon>
          <p text-center>RELATÓRIO DE HORAS EXTRAS</p>
        </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <strong>Período/Data</strong>
      </ion-col>
      <ion-col class="ion-text-center" >
        <strong>Total</strong>
      </ion-col>
    </ion-row>
    <ion-row *ngFor='let h of horasExtras'>
        <ion-col *ngIf='h.horaFinal == null'>
            {{h.horaInicial}} - <span class="horaPendente">Hora Pendente</span>
        </ion-col>
        <ion-col *ngIf='h.horaFinal != null'>
          {{h.horaInicial}} - {{h.horaFinal}} <br>
          <span>{{h.dataInicial}}</span>
        </ion-col>
        <ion-col class="ion-text-center total" *ngIf='h.horaFinal != null'>
          <!-- {{h.horaCalculoFinal - h.horaCalculoInicial}}h : {{h.minutoCalculoFinal - h.minutoCalculoInicial}}m -->
          {{h.total}}
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)='calculoHoras()'>click</ion-button>
</ion-content>