ion-toolbar{
    --background: #0d0579;
    color: white;

    .header-top{
        display: flex;
        align-items: center;
        p{
            margin-left: 10%;
        }
    }
}

#back{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

ion-row{
    display: flex;
    justify-content: center;
}

ion-icon{
    width: 35px;
    height: 35px;
    padding: 0px 15px;
    color: white;
}

span{
    padding: 0px 8px;
    color:white;
}

.descricao{
    padding: 0px 15px;
    color: rgb(189, 182, 182);
    font-size: 13pt;
}

#quantidadeHoras{
    margin-top: 0%;
    margin-bottom: 20%;
}

#cash{
    color: rgb(0, 98, 0);
}

ion-col{
    padding: 0px 15px;
}

h1{
    color: white;
}

#nome{
    color: white;
}
#funcao{
    margin-bottom: 15%;
    color: white;
}

#totalHoras{
    text-align: center;
    width: 50%;
    height: 30%;
    border: 5px solid #4BE25A;
    border-radius: 100%;
    margin: 0 auto;
    padding-top: 15px;
}

ion-content{
    --background: linear-gradient(to bottom, #0d0579, #64aaca 130%);
}

h4{
    color: white;
}

#horas60{
    color: #FBB52F;
}

#horas100{
    color: #00F0FF;
}

#total{
    color: #4BE25A;
}


