<ion-header>
  <ion-toolbar>
    <div class="header-top">
      <ion-icon id="back" name="arrow-round-back" button [routerLink]="['/registro-hora-extra']"></ion-icon>
      <p text-center>RELATÓRIO DETALHADO</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


  <h1 id="nome" class="ion-text-center">{{nomeFuncionario}} </h1>

  <p id="funcao" class="ion-text-center">{{funcao}}</p>
  <p id="salarioBaseTexto" class="ion-text-center">{{salarioFunc | currency:'BRL'}}</p>

  <div id="filtroData">
    <ion-datetime class='data' done-text='OK' cancelText='Cancelar' displayFormat="DD/MM/YY" placeholder='dd/mm/aaaa'
      [(ngModel)]="dataInicial"></ion-datetime>
    <ion-datetime class='data' done-text='OK' cancelText='Cancelar' displayFormat="DD/MM/YY" placeholder='dd/mm/aaaa'
      [(ngModel)]="dataFinal" (ionBlur)='calculaValoresHorasExtras(dataInicial,dataFinal)'>
    </ion-datetime>
  </div>
  <div id="filtroDataDescricao">
    <label for="">Data Início</label>
    <label for="">Data Fim</label>
  </div>

  <div class='ion-text-center' *ngIf='valorEmReaisDeTodasHorasRealizadas == 0 && totalDeHorasRealizadasFormatadas > "0:00:00"'>
    <ion-button id='calculaTotal' (click)='calculaTotal(dataInicial,dataFinal)'>Calcular Total</ion-button>
  </div>


  <ion-grid>
    <div id="quantidadeHoras">
      <ion-row>
        <ion-col>
          <ion-icon name="time"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="time"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="time"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><span class="descricao">60%</span></ion-col>
        <ion-col><span class="descricao">100%</span></ion-col>
        <ion-col><span class="descricao">Total</span></ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngIf='totalDeHorasExtrasEmHoras == 0'><span class="horas60"></span></ion-col>
        <ion-col *ngIf='totalDeHorasExtrasEmHoras > 0'><span class="horas60">{{horaFormatada}}</span></ion-col>
        <ion-col *ngIf='totalDeHorasExtras100PoCento == 0'><span class="horas100"></span></ion-col>
        <ion-col *ngIf='totalDeHorasExtras100PoCento > 0'><span class="horas100">{{horas100PorcentoFormatada}}</span>
        </ion-col>
        <ion-col *ngIf='totalDeHorasExtrasRealizadas > 0'><span id="total">{{totalDeHorasRealizadasFormatadas}}</span>
        </ion-col>
        <ion-col *ngIf='totalDeHorasExtrasRealizadas == 0'><span id="total"></span></ion-col>
      </ion-row>
    </div>

  </ion-grid>

  <div id="totalHoras">
    <h4>Total</h4>
    <h1 id='totalHorasValor'>{{valorEmReaisDeTodasHorasRealizadas | currency:'BRL'}}</h1>
  </div>
  
</ion-content>