<ion-header>
  <ion-toolbar>
    <div class="header-top">
      <ion-icon name="arrow-round-back" button [routerLink]="['/registro-hora-extra']"></ion-icon>
      <p text-center>RELATÓRIO DETALHADO</p>
    </div>
  </ion-toolbar>
</ion-header>
  {{horaFormatada}}<br>
  {{valorEmReais | currency:'BRL':true:'1.2-2'}}<br>
  {{horas100PorcentoFormatada}}<br>
  {{valorHora100PorCentoEmReais | currency:'BRL':true:'1.2-2'}}<br>
  {{totalDeHorasRealizadasFormatadas}}<br>
  {{valorEmReaisDeTodasHorasRealizadas | currency:'BRL':true:'1.2-2'}}<br>
  
  
  

<ion-content>
  
  

</ion-content>
