ion-toolbar{
    --background: #0d0579;
    color: white;

    .header-top{
        display: flex;
        align-items: center;
        p{
            margin-left: 10%;
        }
    }
}

#back{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

ion-row{
    display: flex;
    justify-content: center;
}

ion-icon{
    width: 35px;
    height: 35px;
    padding: 0px 15px;
    color: white;
}

span{
    padding: 0px 8px;
    color:white;
}

.descricao{
    padding: 0px 15px;
    color: rgb(189, 182, 182);
    font-size: 13pt;
}

#quantidadeHoras{
    margin-top: 5%;
    margin-bottom: 10%;
}

#cash{
    color: rgb(0, 98, 0);
}

ion-col{
    padding: 0px 15px;
}

h1{
    color: white;
}

#nome{
    color: white;
}
#funcao{
    color: white;
}

#totalHoras{
    text-align: center;
    width: 50%;
    height: 30%;
    border: 5px solid #4BE25A;
    border-radius: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

ion-content{
    --background: linear-gradient(to bottom, #0d0579, #64aaca 130%);
}

h4{
    color: white;
}

#horas60{
    color: #FBB52F;
}

#horas100{
    color: #00F0FF;
}

#total{
    color: #4BE25A;
}

#filtroData{
    display: flex;
    justify-content: space-around;
}

.data{
    border-bottom: 2px solid  var(--ion-color-padraoApp);
    color: gray;
    padding-bottom: 5px;
    width: 40%;
    text-align: center;
}

.buscarData{
    margin: 5px;
    padding: 5px;
    color: green;
    width: 35px;
    height: 35px;
}

.dataValor{
    padding-left: 5px;
}
label{
    color: gray;
    padding-right: 0px;
    font-size: 10pt;
}

#filtroDataDescricao{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#atualizarSalario{
    color: green;
    margin: 0 auto;
}



#salarioBaseTexto{
    color: white;
    text-align: center;
    margin-bottom: 10%;
}


