ion-toolbar{
    --background: var(--ion-color-padraoApp);
    color: white;
}

ion-row{
    border-bottom: 1px solid rgb(206, 206, 206);
    color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
}

span{
    color: gray;
    font-size: 10pt;
}

.dados{
    color: gray;
}

.header-top{
    display: flex;
    align-items: center;
    p{
        margin-left: 10%;
    }
}

ion-icon{
    width: 20px;
    height: 20px;
}