<ion-header>
  <ion-toolbar>
    <div class="header-top">
      <ion-icon name="arrow-round-back" button [routerLink]="['/registro-hora-extra']"></ion-icon>
      <p text-center>RELATÓRIO DE DESLOCAMENTO</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="filtroData">
    <ion-datetime value='DD/MM/YY' id="inicio" class='data' done-text='OK' cancelText='Cancelar' displayFormat="DD/MM/YY" placeholder='dd/mm/aaaa'
      [(ngModel)]="dataInicial"></ion-datetime>
    <ion-datetime value='DD/MM/YY' id="fim" class='data' done-text='OK' cancelText='Cancelar' displayFormat="DD/MM/YY" placeholder='dd/mm/aaaa'
      [(ngModel)]="dataFinal" (ionBlur)='getDeslocamentosComFiltro(dataInicial,dataFinal)'>
    </ion-datetime>
  </div>
  <div id="filtroDataDescricao">
    <label for="">Data Início</label>
    <label for="">Data Fim</label>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size='6'>
        <strong>Descrição/Data</strong>
      </ion-col>
      <ion-col size='4' class="ion-text-center">
        <strong>Cidade</strong>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
    <ion-row *ngFor='let d of deslocamentos'>
      <ion-row *ngIf='d == null'>
            <p>Não possui deslocamentos</p>
      </ion-row>
      <ion-col size='6' class="dados" (click)='mostrarHora(d.hora)'>
        {{d.descricao}}<br>
        <span>{{d.data | date: 'dd/MM/y'}}</span>
      </ion-col>
      <ion-col size='4' class="ion-text-center dados">
        {{d.localizacao}}
      </ion-col>
      <ion-col size="2">
        <ion-icon class="delete" name='trash' (click)="deleteConfirm(d.id)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>